/* src/App.module.css */
.appContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #0f172a !important; /* Ép cứng màu nền tối */
  position: relative;
  overflow-x: hidden;
}

.canvasBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
 
}