
.overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  pointer-events: none;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  gap: 12rem; 
}

.contentArea {
  min-height: 100vh;
  display: flex;
  align-items: center;
  max-width: 55%;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .overlayWrapper {
    padding: 3rem;
  }
}